body {
    background-color: rgb(90, 90, 90);
}

.centerbox {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    border: 3px solid  rgba(105, 105, 105, 0);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    animation-name: fade-in;
    animation-duration: 3s;
  }


.message-box {

    height: 100px;
    text-align: center;
    align-self: center;
    flex-direction: column;
    border: 5px 2px 1px 0px black;
}

#contact-box {
    font-size: 17px;
}

.text {
    vertical-align: middle;
    font-size: 17px; 
    color: aliceblue;
}

.table-text {
    vertical-align: middle;
    font-size: 17px; 
    color: aliceblue;
}

/* Add a black background color to the top navigation */
.topnav {
    flex: content;
    background-color: #333;
    flex-direction: row;
    padding: 14px 16px;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #808080;
    color: white;
  }

  table, th, td {
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
    color: aliceblue;
  }

  a:link {
    color: rgb(156, 156, 156);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: rgb(156, 156, 156);
    background-color: transparent;
    text-decoration: none;
  }

  @keyframes fade-in {
    0%   {opacity: 0%;}
    100% {opacity: 100%;}
  }

.permalink {
    white-space: pre-wrap; /* CSS3 */    
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */    
    white-space: -o-pre-wrap; /* Opera 7 */    
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}