body {
    background-color: white;
    text-align: center;
}

h1{
  font-size: 3em;
}

h1, h2, h3, h4 ,h5, h6, p {
  font-family: 'Poppins', sans-serif;
  hyphens: auto;
}


/* NAVBAR */
.navbar-colour {
  background-color: rgb(90, 90, 90);
}

.navbar-brand {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 24px;
  word-spacing: 1rem;
}

/* TITLE */

.title-image {
  width: 100%;
}


.title-text {
  color: #8f8f8f;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3rem;
}

.catchphrase-a {
  text-align: right;  
  padding: 5rem 0 5rem 0;
}
.catchphrase-b {
  text-align: center;  
  padding: 0rem 0 5rem 0;
}

.title-image-padding {
  vertical-align: middle;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}

.carousel-inner .item {
  height: 400px;
  width: 100%;
}

.carousel-inner > .item >img{
  min-height : 300px;
  max-height : 300px;
  color:rgb(90, 90, 90);
}

.testimonial-image {
  height: 500px;  
}

#contact-box {
    font-size: 17px;
}


  a:link {
    color: #2F4F4F;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: #2F4F4F;
    background-color: transparent;
    text-decoration: none;
  }

  @keyframes fade-in {
    0%   {opacity: 0%;}
    100% {opacity: 100%;}
  }

.permalink {
    white-space: pre-wrap; /* CSS3 */    
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */    
    white-space: -o-pre-wrap; /* Opera 7 */    
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.construction {
  padding-top: 50px;
}


/* FOOTER */

.media-icons {
  padding: 50px 20px 20px;
  color: #2F4F4F;
}



/* UTILITIES */

.greentext {
  color: #A9FF33;
}

.greytext {
  color: rgb(192,192,204); 
}

.description {
  padding-top: 5%;
}

div.c {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.greybox {
  background-color: rgb(90, 90, 90);
  box-shadow: 5px 2px 4px #000000;
  color:#8f8f8f;
}

.whitebox {
  background-color: white;
  color:#2F4F4F;
}

.container-fluid {
  padding: 3% 15%;
}


@media (max-width: 1275px) {

  .title-text {
    color: #8f8f8f;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    vertical-align: middle;
  }
}

@media (max-width: 1075px) {

  .title-text {
    color: #8f8f8f;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    vertical-align: middle;
  }
}

@media (max-width: 861px) {
  .title-text {
    color: #8f8f8f;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    vertical-align: middle;
  }

}

@media (max-width: 767px) {
  .catchphrase-a {
    text-align: center;  
    padding: 5rem 0 5rem 0;
  }
}